<section class="bg-gray-900">
  <div class="container px-6 py-10 mx-auto">
    <div class="lg:flex lg:-mx-6">
      <div class="lg:w-3/4 lg:px-6">
        <img
          class="object-cover object-center w-full h-80 xl:h-[45rem] rounded-xl"
          src="/images/psychology/help.png"
          alt="Psychological Support Service"
        />

        <div>
          <p class="mt-6 text-sm text-violet-400 uppercase">
            Mental Health Support
          </p>

          <h1
            class="max-w-lg mt-4 text-2xl font-semibold leading-tight text-white"
          >
            Personalized Psychological Support for Your Mental Well-being
          </h1>

          <p class="mt-4 text-gray-400">
            Our Psychological Support service offers compassionate and
            professional assistance to help manage stress, anxiety, and other
            mental health challenges. With flexible options and experienced
            therapists, we provide a space to explore and build resilience.
          </p>

          <div class="flex items-center mt-6">
            <img
              class="object-cover object-center w-10 h-10 rounded-full"
              src="/images/psicologa-laura-cruz.png"
              alt="Psychologist"
            />

            <div class="mx-4">
              <h1 class="text-sm text-gray-200">
                Lic. Laura Cruz
              </h1>
              <p class="text-sm text-gray-400">
                Psicóloga
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="mt-8 lg:w-1/4 lg:mt-0 lg:px-6">
        <div>
          <h3 class="text-violet-400 capitalize">Our Services</h3>

          <a
            href="#"
            class="block mt-2 font-medium text-white hover:underline hover:text-gray-500"
          >
            Flexible Scheduling for Therapy Sessions
          </a>
        </div>

        <hr class="my-6 border-gray-200" />

        <div>
          <h3 class="text-violet-400 capitalize">Resources</h3>

          <a
            href="#"
            class="block mt-2 font-medium text-white hover:underline hover:text-gray-500"
          >
            Meditation Exercises for Stress Relief
          </a>
        </div>

        <hr class="my-6 border-gray-200" />

        <div>
          <h3 class="text-violet-400 capitalize">Guided Programs</h3>

          <a
            href="#"
            class="block mt-2 font-medium text-white hover:underline hover:text-gray-500"
          >
            Building Resilience and Coping Skills
          </a>
        </div>

        <hr class="my-6 border-gray-200" />

        <div>
          <h3 class="text-violet-400 capitalize">Bilingual Support</h3>

          <a
            href="#"
            class="block mt-2 font-medium text-white hover:underline hover:text-gray-500"
          >
            Access Therapy in English and Spanish
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
