<section class="bg-gray-900">
  <div
    class="container flex flex-col px-6 py-10 mx-auto space-y-6 lg:h-[32rem] lg:py-16 lg:flex-row lg:items-center"
  >
    <div class="w-full lg:w-1/2">
      <div class="lg:max-w-lg">
        <h1 class="text-3xl font-semibold tracking-wide text-white lg:text-4xl">
          Beneficios de Espacio Mental
        </h1>
        <p class="mt-4 text-gray-200">
          Aplicar la psicología en la vida diaria mejora la autoconciencia, las
          relaciones y la resiliencia, y optimiza la toma de decisiones, el
          bienestar emocional y el crecimiento personal.
        </p>
        <div class="grid gap-6 mt-8 sm:grid-cols-2">
          <div class="flex items-center text-white px-3">
            <svg
              class="w-5 h-5 mx-3"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M5 13l4 4L19 7"></path>
            </svg>

            <span class="mx-3">Mejor Autoconocimiento</span>
          </div>

          <div class="flex items-center text-white px-3">
            <svg
              class="w-5 h-5 mx-3"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M5 13l4 4L19 7"></path>
            </svg>

            <span class="mx-3">Bienestar Emocional Optimizado</span>
          </div>

          <div class="flex items-center text-white px-3">
            <svg
              class="w-5 h-5 mx-3"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M5 13l4 4L19 7"></path>
            </svg>

            <span class="mx-3">Relaciones Más Fuertes</span>
          </div>

          <div class="flex items-center text-white px-3">
            <svg
              class="w-5 h-5 mx-3"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M5 13l4 4L19 7"></path>
            </svg>

            <span class="mx-3">Mejor Toma de Decisiones</span>
          </div>

          <div class="flex items-center text-white px-3">
            <svg
              class="w-5 h-5 mx-3"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M5 13l4 4L19 7"></path>
            </svg>

            <span class="mx-3">Mayor Resiliencia</span>
          </div>

          <div class="flex items-center text-white px-3">
            <svg
              class="w-5 h-5 mx-3"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M5 13l4 4L19 7"></path>
            </svg>

            <span class="mx-3">Crecimiento Personal</span>
          </div>
        </div>
      </div>
    </div>

    <div class="flex items-center justify-center w-full h-96 lg:w-1/2">
      <img
        class="object-cover w-full h-full max-w-2xl rounded-md"
        src="/images/psychology/handles.png"
        alt="foto de manos"
      />
    </div>
  </div>
</section>