<section class="bg-gray-900">
  <div class="container px-6 py-10 mx-auto">
    <h1
      class="text-2xl font-semibold text-center text-white capitalize lg:text-3xl"
    >
      Misión
    </h1>

    <div class="flex justify-center mx-auto mt-6">
      <span class="inline-block w-40 h-1 bg-violet-400 rounded-full"></span>
      <span class="inline-block w-3 h-1 mx-1 bg-violet-400 rounded-full"></span>
      <span class="inline-block w-1 h-1 bg-violet-400 rounded-full"></span>
    </div>

    <div class="flex items-start max-w-6xl mx-auto mt-16">
      <div>
        <p class="flex items-center text-center text-gray-200 lg:mx-8">
          Brindar apoyo psicológico accesible, profesional y con calidez humana
          a través de soluciones digitales innovadoras, empoderando a las
          personas a nivel global para mejorar su bienestar mental, desarrollar
          resiliencia y encontrar apoyo dondequiera que estén. Nos esforzamos por
          crear un espacio confiable e inclusivo donde cada persona pueda
          mejorar su calidad de vida con la guía de profesionales con experiencia.
        </p>

        <div class="flex flex-col items-center justify-center mt-8">
          <img
            class="object-cover rounded-full w-14 h-14"
            src="/images/psicologa-laura-cruz.png"
            alt=""
          />

          <div class="mt-4 text-center">
            <h1 class="font-semibold text-white">
              Laura
            </h1>
            <span class="text-sm text-gray-300">Psicóloga</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>