<section class="bg-gray-900">
<div
  class="w-full bg-center bg-cover h-screen"
  style="background-image: url('/images/psychology/consulting.png');"
>
  <div class="flex items-center justify-center w-full h-full bg-gray-900/40">
    <div class="text-center">
      <h1 class="text-3xl font-semibold text-white lg:text-4xl">
        Necesitas atención <span class="text-violet-400">psicológica</span>
      </h1>
      <button
        class="w-full px-5 py-2 mt-4 text-sm font-medium text-white capitalize transition-colors duration-300 transform bg-violet-600 rounded-md lg:w-auto hover:bg-violet-400 focus:outline-none"
        >Comenzar consulta</button
      >
    </div>
  </div>
</div>
</section>