<section class="bg-gray-900">
<div class="container px-6 py-16 mx-auto">
  <div class="items-center lg:flex">
    <div class="w-full lg:w-1/2">
      <div class="lg:max-w-lg">
        <h1 class="text-3xl font-semibold text-white lg:text-4xl">
          Our <span class="text-violet-400">Philosophy</span>
        </h1>

        <p class="mt-3 text-white">
          At Mental Space, we believe that mental health is a cornerstone of a
          fulfilling life and that everyone deserves compassionate, reliable
          support. We’re guided by values of empathy, respect, and innovation,
          striving to create a platform where users feel safe, understood, and
          empowered. Our approach integrates the latest therapeutic practices
          with a human touch, blending expertise with accessibility to meet the
          diverse needs of our clients. We are dedicated to reducing stigma
          around mental health, making care inclusive, and building a supportive
          community where every individual can thrive.
        </p>
      </div>
    </div>

    <div class="flex items-center justify-center w-full mt-6 lg:mt-0 lg:w-1/2">
      <img
        class="w-full h-full lg:max-w-3xl rounded-full p-2"
        src="/images/psychology/philosophy.png"
        alt="Catalogue-pana.svg"
      />
    </div>
  </div>
</div>
</section>