<section class="bg-gray-900">
  <div class="container px-6 py-16 mx-auto">
    <div class="items-center lg:flex">
      <div class="w-full lg:w-1/2">
        <div class="lg:max-w-lg">
          <h1 class="text-3xl font-semibold text-white lg:text-4xl">
            Nuestra <span class="text-violet-400">Filosofía</span>
          </h1>

          <p class="mt-3 text-white">
            En Espacio Mental, creemos que la salud mental es fundamental para una
            vida plena y que cada persona merece un apoyo compasivo y confiable.
            Nos guían valores como la empatía, el respeto y la innovación,
            esforzándonos por crear una plataforma donde los usuarios se sientan
            seguros, comprendidos y fortalecidos. Nuestro enfoque integra las
            últimas prácticas terapéuticas con un toque humano, combinando
            experiencia con accesibilidad para satisfacer las diversas necesidades
            de nuestros consultantes. Estamos dedicados a reducir el estigma en
            torno a la salud mental, haciendo que la atención sea inclusiva y
            construyendo una comunidad de apoyo donde cada individuo pueda
            prosperar.
          </p>
        </div>
      </div>

      <div class="flex items-center justify-center w-full mt-6 lg:mt-0 lg:w-1/2">
        <img
          class="w-full h-full lg:max-w-3xl rounded-full p-2"
          src="/images/psychology/philosophy.png"
          alt="Imagen de la filosofía"
        />
      </div>
    </div>
  </div>
</section>