<section class="bg-gray-900">
  <div class="container px-6 py-10 mx-auto">
    <div class="mt-6 md:flex md:items-center md:justify-between">
      <div>
        <h1 class="text-2xl font-semibold text-white capitalize lg:text-3xl">
          Lo que dicen nuestros clientes
        </h1>

        <div class="flex mx-auto mt-6">
          <span class="inline-block w-40 h-1 bg-violet-400 rounded-full"></span>
          <span class="inline-block w-3 h-1 mx-1 bg-violet-400 rounded-full"
            ></span>
          <span class="inline-block w-1 h-1 bg-violet-400 rounded-full"></span>
        </div>
      </div>

      <div class="flex justify-between mt-8 md:mt-0">
        <button
          title="flecha izquierda"
          class="p-2 mx-3 text-white transition-colors duration-300 border rounded-full rtl:-scale-x-100 hover:bg-gray-400"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="w-6 h-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="2"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M15 19l-7-7 7-7"></path>
          </svg>
        </button>

        <button
          title="flecha derecha"
          class="p-2 text-white transition-colors duration-300 border rounded-full rtl:-scale-x-100"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="w-6 h-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="2"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M9 5l7 7-7 7"></path>
          </svg>
        </button>
      </div>
    </div>

    <section
      class="grid grid-cols-1 gap-8 mt-8 xl:mt-12 lg:grid-cols-2 xl:grid-cols-3"
    >
      <div class="p-8 border rounded-lg">
        <p class="leading-loose text-white">
          “Al principio estaba medio escéptico con la terapia virtual, pero
          Espacio Mental superó mis expectativas. Los terapeutas son profesionales
          y atentos, y los recursos de la app, como las guías de meditación y los
          consejos personalizados, me han ayudado pila. ¡Siento como tener un
          kit de herramientas para el bienestar mental en el bolsillo!”.
        </p>

        <div class="flex items-center mt-8 -mx-2">
          <img
            class="object-cover mx-2 rounded-full w-14 shrink-0 h-14 ring-4 ring-gray-300"
            src="https://images.unsplash.com/photo-1570295999919-56ceb5ecca61?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG0dG8tcGFnZXx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80"
            alt=""
          />

          <div class="mx-2">
            <h1 class="font-semibold text-white">Robert</h1>
            <span class="text-sm text-white">CTO, Robert Consultency</span>
          </div>
        </div>
      </div>

      <div class="p-8 bg-violet-400 border border-transparent rounded-lgv">
        <p class="leading-loose text-white">
          "Espacio Mental ha sido un verdadero salvavidas. Como profesional
          ocupada, me costaba un montón encontrar tiempo para sesiones de terapia
          presenciales. Con esta app, puedo agendar sesiones fácilmente durante
          mis descansos o después del laburo. La flexibilidad y la comodidad me
          han permitido priorizar mi salud mental sin comprometer mi agenda. ¡La
          recomiendo totalmente!".
        </p>

        <div class="flex items-center mt-8 -mx-2">
          <img
            class="object-cover mx-2 rounded-full w-14 shrink-0 h-14 ring-4 ring-blue-200"
            src="https://images.unsplash.com/photo-1531590878845-12627191e687?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80"
            alt=""
          />

          <div class="mx-2">
            <h1 class="font-semibold text-white">Jeny Doe</h1>
            <span class="text-sm text-white">CEO, Jeny Consultency</span>
          </div>
        </div>
      </div>

      <div class="p-8 border rounded-lg">
        <p class="leading-loose text-white">
          “Vivir en el exterior me dificultaba encontrar terapia en mi idioma
          nativo, pero Espacio Mental me solucionó ese problema. Puedo conectar
          con un terapeuta de habla hispana y expresarme de verdad sin barreras
          idiomáticas. Esta app ha sido fundamental para sentirme en casa, ¡incluso
          estando lejos!”.
        </p>

        <div class="flex items-center mt-8 -mx-2">
          <img
            class="object-cover mx-2 rounded-full w-14 shrink-0 h-14 ring-4 ring-gray-300"
            src="https://images.unsplash.com/photo-1488508872907-592763824245?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80"
            alt=""
          />

          <div class="mx-2">
            <h1 class="font-semibold text-white">Ema Watson</h1>
            <span class="text-sm text-white">Marketing Manager at Stech</span>
          </div>
        </div>
      </div>
    </section>
  </div>
</section>