---
import '../../styles/footer.css';
---
<footer class="bg-violet-400 footer-animate">
  <div class="container px-6 py-12 mx-auto">
    <div class="md:flex md:-mx-3 md:items-center md:justify-between">
      <h1 class="text-xl font-semibold tracking-tight text-white md:mx-3 xl:text-2xl">
        Suscribite a nuestro boletín pa' estar al día.
      </h1>

      <div class="mt-6 md:mx-3 shrink-0 md:mt-0 md:w-auto">
        <a href="#" class="subscribe-btn inline-flex items-center justify-center w-full px-4 py-2 text-sm text-white duration-300 bg-violet-800 rounded-lg gap-x-3 hover:bg-violet-400 focus:ring focus:ring-gray-300 focus:ring-opacity-80">
          <span>Anotate Ahora</span>

          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-5 h-5"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3"></path>
          </svg>
        </a>
      </div>
    </div>

    <hr class="my-6 border-gray-200 md:my-10 dark:border-gray-700" />

    <div
      class="grid grid-cols-1 gap-6 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4"
    >
      <div>
        <p class="font-semibold text-white">Links Útiles</p>

        <div class="flex flex-col items-start mt-5 space-y-2">
          <a
            href="#"
            class="text-white transition-colors duration-300 hover:underline hover:text-violet-900"
            >Inicio</a
          >
          <a
            href="#"
            class="text-white transition-colors duration-300 hover:underline hover:text-violet-900"
            >Quiénes Somos</a
          >
          <a
            href="#"
            class="text-white transition-colors duration-300 hover:underline hover:text-violet-900"
            >Nuestra Filosofía</a
          >
        </div>
      </div>

      <div>
        <p class="font-semibold text-white">Sobre Nosotros</p>

        <div class="flex flex-col items-start mt-5 space-y-2">
          <a
            href="#"
            class="text-white transition-colors duration-300 hover:underline hover:text-violet-900"
            >Misión</a
          >
          <a
            href="#"
            class="text-white transition-colors duration-300 hover:underline hover:text-violet-900"
            >Visión</a
          >
          <a
            href="#"
            class="text-white transition-colors duration-300 hover:underline hover:text-violet-900"
            >Beneficios</a
          >
        </div>
      </div>

      <div>
        <p class="font-semibold text-white">Servicios</p>

        <div class="flex flex-col items-start mt-5 space-y-2">
          <a
            href="#"
            class="text-white transition-colors duration-300 hover:underline hover:text-violet-900"
            >Apoyo psicológico</a
          >
          <a
            href="#"
            class="text-white transition-colors duration-300 hover:underline hover:text-violet-900"
            >Consultas psicológicas</a
          >
        </div>
      </div>

      <div>
        <p class="font-semibold text-white">Contactanos</p>

        <div class="flex flex-col items-start mt-5 space-y-2">
          <a
            href="#"
            class="text-white transition-colors duration-300 hover:underline hover:text-violet-900"
            >+598 91 624 850</a
          >
          <a
            href="#"
            class="text-white transition-colors duration-300 hover:underline hover:text-violet-900"
            >lauracruz@gmail.com</a
          >
        </div>
      </div>
    </div>

    <hr class="my-6 border-gray-200 md:my-10" />

    <div class="flex flex-col items-center justify-between sm:flex-row">
      <a href="#" class="logo-hover">
        <img class="w-32 h-32" src="/Laura Cruz Azul.svg" alt="Laura Cruz Logo" />
      </a>

      <p class="mt-4 text-sm text-white sm:mt-0">
        © Copyright 2024. Todos los derechos reservados.
      </p>
    </div>
  </div>
</footer>